body{
    background-color: var(--black-color);
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_paypal{
color: var(--green-color);
}
